<div class="app-header">
	<div ng-if="showMenuIcon === true" class="menu" ng-click="onLogoClick( e )">
		<div class="menu-middle"></div>
	</div>
	<div ng-if="showAppLogo" class="logo-container" ng-click="onLogoClick( e )">
		<div class="logo small"></div>
		<div class="logomark small"><span class="light faded">Shape</span>Connector</div>
	</div>
	<div ng-if="showSoundsIcon" class="music-link" ng-class="[{'on': isMusicOn, 'off': !isMusicOn }]" ng-click="openSoundsModal()">
		<div class="icon"></div>
	</div>
	<div ng-transclude></div>
	<share ng-if="showShareLink" event-handler="shareEvent( params )" opts="shareOpts"></share>
	<sc:modal name="soundsModal" show="showSoundsModal" style="blue" position="center" height="170">
		<div class="sounds-modal">
			<sc:noise-toggles></sc:noise-toggles>

			<div class="sounds-modal-actions">
				<a sc:modal:action="close" on-complete="onSoundsModalEvent('close')" class="btn type-primary">OK</a>
			</div>
		</div>
	</sc:modal>
</div>

