@import "../../assets/styles/mixins";

.app-header {
	padding: 5% 5% 0% 5%;
	position: absolute;
	z-index: 1;
	width: 100%;

	.logo-container {
		@extend %clickable;
		cursor: pointer;
		float: left;

		&:hover {
			opacity: 0.8;
		}
	}

	.logomark {
		margin-top: 5px;
	}


	@media (max-height: 510px) {
		.logomark {
			display: none;
		}
	}
}
