<div class="game" ng-class="{'won': game.won == true, 'lost': game.lost == true}">
	<div class="game-header">
		<sc:canvas
			classes="game-goal"
			name="goal"
			size="{{canvasDimensions.goal}}"
			canvas="canvasCollection.goal">
		</sc:canvas>

		<sc:canvas
			ng-show="game.hasTimer == true"
			classes="game-timer"
			name="timer"
			size="{{canvasDimensions.timer}}"
			canvas="canvasCollection.timer">
		</sc:canvas>
	</div>

	<div class="game-board">
		<sc:canvas
			classes="game-board-game_canvas"
			name="game"
			size="{{canvasDimensions.board}}"
			canvas="canvasCollection.game"
			events="gameCanvasEvents">
		</sc:canvas>

		<sc:canvas
			classes="game-board-lines_canvas"
			name="lines"
			size="{{canvasDimensions.board}}"
			canvas="canvasCollection.lines">
		</sc:canvas>
	</div>
</div>

<sc:modal name="pauseModal" show="showPauseModal" style="blue">
	<div class="game-pause_modal">
		<div class="game-pause_modal-controls">
			<div sc:modal:action="close" on-complete="actions.resetGame( e )" class="btn small-circle restart-icon"></div>
			<div sc:modal:action="close" on-complete="actions.resumeGame( e )" class="btn circle play-icon"></div>
			<div sc:modal:action="close" on-complete="actions.newGame( e )" class="btn small-circle skip-icon"></div>
		</div>

		<div class="game-pause_modal-settings">
			<sc:noise-toggles></sc:noise-toggles>
		</div>

		<a sc:modal:action="close" on-complete="actions.quitGame()" class="btn type-text">Quit game</a>
	</div>
</sc:modal>

<sc:modal name="winModal" show="showWinModal" style="teal">
	<div class="game-win_modal">
		<span class="modal-content-header">Awesome!</span>
		<span class="modal-content-subtext" ng-if="game.mode == 'timed'">
			Solved in <span class="weight-normal">{{game.solveTime}}s</span> on <span class="weight-normal">{{attempts | ordinal}}</span> attempt
		</span>
		<a sc:modal:action="minimize" class="btn type-primary">See game board</a>
		<a sc:modal:action="close" on-complete="actions.newGame()" class="btn type-primary addon-arrow">Next Puzzle</a>
		<a sc:modal:action="close" on-complete="actions.quitGame()" class="btn type-text">Quit game</a>
	</div>
	<div class="scmodal-minimized-content">
		<a sc:modal:action="close" on-complete="actions.quitGame()" no-delay class="btn float-left type-text">
			Quit game
		</a>
		<a sc:modal:action="close" on-complete="actions.newGame()" no-delay class="btn float-right type-primary addon-arrow">
			Next Puzzle
		</a>
	</div>
</sc:modal>

<sc:modal name="loseModal" show="showLoseModal" style="red">
	<div class="game-lose_modal">
		<span class="modal-content-header">Time&rsquo;s up!</span>
		<a sc:modal:action="close" on-complete="actions.resetGame( e )" class="btn type-primary">Try again?</a>
		<a sc:modal:action="close" on-complete="actions.newGame( e )" class="btn type-primary addon-arrow">New Puzzle</a>
		<a sc:modal:action="close" on-complete="actions.quitGame( e )" class="btn type-text">Quit game</a>
	</div>
</sc:modal>
