<div class="game"
	 ng-class="{'won': game.won == true, 'lost': game.lost == true}">

	<div class="game-header">
		<app:canvas
			classes="game-goal"
			name="goal"
			size="{{canvasDimensions.goal}}"
			canvas="canvasCollection.goal">
		</app:canvas>

		<app:canvas
			ng-show="game.hasTimer == true"
			classes="game-timer"
			name="timer"
			size="{{canvasDimensions.timer}}"
			canvas="canvasCollection.timer">
		</app:canvas>
	</div>

	<div class="game-board-wrapper">
		<div class="game-board">
			<app:canvas
				name="game"
				size="{{canvasDimensions.board}}"
				canvas="canvasCollection.game"
				events="gameCanvasEvents">
			</app:canvas>

			<app:canvas
				name="lines"
				size="{{canvasDimensions.board}}"
				canvas="canvasCollection.lines">
			</app:canvas>
		</div>
		<div class="game-popup" ng-show="game.animationsDone == true">
			<div ng-show="game.won == true">
				<span class="popup-header">Woot!</span>
				<span class="popup-text">
					You finished this puzzle, up for one more?
				</span>

				<a ng-click="actions.newGame()" class="btn type-primary addon-arrow">Next Puzzle</a>
				<a ng-click="actions.goHome()" class="btn type-text">Exit to menu</a>
			</div>
			<div ng-show="game.lost == true">
				<span class="popup-header">Time&rsquo;s up!</span>

				<a ng-click="actions.resetGame()" class="btn type-primary">Try again?</a>
				<a ng-click="actions.newGame()" class="btn type-secondary addon-arrow">New Puzzle</a>
				<a ng-click="actions.goHome()" class="btn type-text">Exit to menu</a>
			</div>
		</div>
	</div>
</div>
