//==============================================================================
//
//	Game Styles
//
//------------------------------------------------------------------------------

$color-teal: #8AE8B2;
$color-red: #FF5252;

// .game :- game wrapper
//------------------------------------------------------------------------------
.game {
	@extend %disable-selection;

	margin: 0 auto;
	position: relative;

	// Make all canvas elements seem interactable
	canvas {
		@extend %clickable;
	}

	// &-header => .game-header :- header which hoses the goal + timer
	//--------------------------------------------------------------------------
	&-header {
		@extend %disable-selection;
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
	}

	// &-timer => .game-timer :- the countdown timer
	//--------------------------------------------------------------------------
	&-timer {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}

	// &-goal => .game-goal :- the "goal" for the game
	//--------------------------------------------------------------------------
	&-goal {
		display: block;
		position: relative;
		margin: 0 auto;
	}

	// &-board => .game-board
	// 	includes the canvases for both the actual gameboard and the lines
	//--------------------------------------------------------------------------
	&-board {
		@extend %clickable;
		position: relative;
		margin: 0 auto;
		// overflow: hidden;

		// &-game_canvas => .game-board-game_canvas :- The canvas w/ the shapes
		&-game_canvas {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2; // Lift above the lines canvas

			.game.won & {
				z-index: 0; // Hide below the win popup
			}
		}

		// &-lines_canvas => .game-board-lines_canvas :- The canvas w/ the lines
		&-lines_canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
