@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";
@import "../../assets/styles/sprites";
@import "../../assets/styles/animations";
@import "../../assets/styles/generics.scss";

.slideshow {
	margin: 50px auto 0;
	width: 500px;

	&-slides {
		@extend %clickable;
		position: relative;
		overflow: hidden;
		height: 500px;
	}

	&-slide {
		@extend %clickable;

		display: block;
		position: absolute;

		&-header {
			display: block;
			color: white;
			font-size: 22px;
			line-height: 28px;
			padding-bottom: 5px;
		}

		&-subheader {
			display: block;
			color: rgba(white, 0.65);
			font-size: 16px;
			line-height: 20px;
		}

		&.ng-hide-add,
		&.ng-hide-remove
		{
			-webkit-transition: 500ms $animationTiming all;
			transition: 500ms $animationTiming all;
		}

		&.ng-hide-remove,
		&.ng-hide-add.ng-hide-add-active {
			opacity: 0;
		}

		&.ng-hide-remove.ng-hide-remove-active,
		&.ng-hide-add {
			opacity: 1;
		}

	}

	&-pages {
		display: block;
		height: 8px;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	&-page {
		@extend %clickable;

		display: inline-block;
		position: relative;
		width: 8px;
		height: 8px;
		background-color: rgba(white, 0.5);
		border-radius: 50%;
		margin: 0 5px;

		&.selected {
			background-color: rgba(white, 1);
		}
	}
}
