@import "../../assets/styles/mixins";
@import "../../assets/styles/sprites";

.share {
	&-link {
		@extend %clickable;
		@include cssSprite( $link-white );
		content: '';
		display: block;
		float: right;
		margin-top: 12px;

		&:hover {
			opacity: 0.8;
		}

		@media (max-height: 510px) {
			margin-top: 0px;
		}
	}

	&-modal {
		text-align: center;
		padding: 15px 30px;

		.modal-content.size-large & {
			padding: 30px;
		}

		&-input {
		    height: 40px;
		    width: 90%;
			margin: 30px 0;
			padding: 5px;

		    background: rgba(255,255,255,0.2);
			border: 1px solid rgba(white,0.4);
			border-radius: 2px;
			color: white;
			font-size: 12px;

			&::selection {
				background: rgba(black, 0.5);
			}
			&::-moz-selection {
				background: rgba(black, 0.5);
			}
		}

		&-actions {
			border-top: 1px solid rgba(black, 0.1);
			text-align: center;
			padding: 15px 0;

			.modal-content.size-large & {
				padding: 30px;
			}

			.btn {
				margin: 0 auto;
			}
		}
	}
}
