<div class="share-link" ng-click="share.onLinkClick()"></div>

<sc:modal name="shareModal" show="share.showModal" style="blue" position="center">
	<div class="share-modal">
		<span class="modal-content-header">Share</span>
		<span class="modal-content-subtext">
			Copy the link below to share this gameboard
		</span>

		<input
			class="share-modal-input"
			type="text"
			ng-value="::share.gameLink"
			readonly="readonly"
			ng-click="share.selectAll()" />

		<div class="share-modal-actions">
			<a sc:modal:action="close" on-complete="share.onModalEvent('close')" class="btn type-primary">OK</a>
		</div>
	</div>
</sc:modal>
