.about-view {
	width: 100%;
	padding: 40px;
	color: white;
	text-align: center;

	&-content {
		display: block;
		width: 100%;
	}

	.header {
		color: white;
		font-size: 22px;
		text-align: center;
		margin-bottom: 10px;
	}

	.sub-header {
		font-weight: 700;
		margin-top: 40px;
	}

	.info {
		display: inline-block;
		font-weight: 300;
		padding: 0;
		margin: 5px 0 0 0;
	}

	a {
		color: white;
		text-decoration: none;
		border-bottom: 1px dashed rgba(white, 0.5);
		padding-bottom: 5px;

		&:hover {
			color: rgba(white, 0.9);
		}
	}
}
