@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";

//==============================================================================
//
//	Game Styles
//
//------------------------------------------------------------------------------

// .game :- game wrapper
//------------------------------------------------------------------------------
.tutorial {
	@extend %disable-selection;

	margin: 0 auto;
	position: relative;

	// Make all canvas elements seem interactable
	canvas {
		@extend %clickable;
	}

	// &-header => .game-header :- header which hoses the goal + timer
	//--------------------------------------------------------------------------
	&-header {
		@extend %disable-selection;
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
	}

	// &-goal => .game-goal :- the "goal" for the game
	//--------------------------------------------------------------------------
	&-goal {
		display: block;
		position: relative;
		margin: 0 auto;
	}

	// &-board => .game-board
	// 	includes the canvases for both the actual gameboard and the lines
	//--------------------------------------------------------------------------
	&-board {
		@extend %clickable;
		position: relative;
		margin: 0 auto;

		&-game_canvas {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2; // Lift above the lines canvas

			.game.won & {
				z-index: 0; // Hide below the win popup
			}
		}

		&-lines_canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
