@import "./mixins.scss";
@import "./colors.scss";
@import "./generics.scss";
@import "./sprites.scss";

.btn {
	@extend %clickable;

	background: white;
	border-radius: $border-radius;
	cursor: pointer;
	display: block;
	padding: 18px 10px;
	text-align: center;
	width: 150px;

	-webkit-transition: all 500ms;
    transition: all 500ms;

	&.type-primary {
		color: white;
		background-color: rgba(black, 0.4);
	}

	&.type-secondary {
		color: white;
		background-color: rgba(black, 0.2);
	}

	&.type-primary,
	&.type-secondary {
		text-transform: uppercase;
		font-size: 14px;

		&:hover,
		&:active {
			background: rgba(black, 0.6);
		}
	}

	&.type-text {
		color: white;
		font-size: 12px;
		background: transparent;
		box-shadow: 0 0 0 0;
		text-transform: uppercase;
		text-decoration: none;

		&:hover,
		&:active {
			color: rgba(white, 0.5);
		}
	}

	&.circle {
		height: 85px;
		width: 85px;
		border-radius: 50%;
		padding: 0;
	}

	&.small-circle {
		height: 45px;
		width: 45px;
		border-radius: 50%;
		padding: 0;
	}

	&.circle,
	&.small-circle {
		&:hover,
		&:active {
			background: rgba(white, 0.4);
		}
	}

	&.addon-arrow {
		&:after {
			@include cssSprite( $arrow-right-white );
			content: '';
			display: block;
			float: right;
			margin-top: 2px;
		}
		text-align: left;
	}

	&.restart-icon {
		&:after {
			@include cssSprite( $restart-white );
			content: '';
			display: inline-block;
			margin: 12px auto;
		}
		background: rgba(white, .15);
	}

	&.play-icon {
		&:after {
			@include cssSprite( $play-white );
			content: '';
			display: inline-block;
			margin: 22px auto;
		}
		background: rgba(white, .15);
		padding-left: 5px;
	}

	&.skip-icon {
		&:after {
			@include cssSprite( $skip-white );
			content: '';
			display: inline-block;
			margin: 12px auto;
		}
		background: rgba(white, .15);
		padding-left: 3px;
	}
}
