$share-img-url: 'assets/images/share.png';
$win-img-url: 'assets/images/win.png';
$gameplay-gif-url: 'assets/images/gameplay-mini.glow.gif';

$icon-spritePath: 'assets/images/icon-sprite';
$icon-spriteURL: $icon-spritePath + '.png';
$icon-spritex2URL: $icon-spritePath + '@2x.png';
$bgiSizeW: 287px;
$bgiSizeH: 232px;

$arrow-down-white: 11.992875251340784px 6.990799424381521px $icon-spriteURL -128px -204px $icon-spritex2URL;
$sound-on-white: 16px 16px $icon-spriteURL -186px -144px $icon-spritex2URL;
$sound-off-white: 19.965666666666667px 16px $icon-spriteURL -216px -144px $icon-spritex2URL;
$link-medium-white: 21.999827755305706px 22px $icon-spriteURL -95px -199px $icon-spritex2URL;
$skip-medium-white: 23.837532797467887px 22px $icon-spriteURL -66px -199px $icon-spritex2URL;
$restart-medium-white: 22px 22px $icon-spriteURL -36px -199px $icon-spritex2URL;
$pause-medium-white: 15.714285714285618px 22px $icon-spriteURL -10px -199px $icon-spritex2URL;
$logo-large: 137px 68px $icon-spriteURL -22px -21px $icon-spritex2URL;
$logo-medium: 91px 45px $icon-spriteURL -80px -141px $icon-spritex2URL;
$logo-small: 46px 24px $icon-spriteURL -22px -107px $icon-spritex2URL;
$arrow-right-black: 8px 11.993000000000002px $icon-spriteURL -249.50448549730794px -112.19922859705821px $icon-spritex2URL;
$arrow-right-white: 8px 11.993000000000002px $icon-spriteURL -219.50448549730794px -112.19922859705821px $icon-spritex2URL;
$play-black: 36.720001220703125px 36px $icon-spriteURL -231.77999877929688px -38px $icon-spritex2URL;
$play-white: 36.720001220703125px 36px $icon-spriteURL -182.64999961853027px -38px $icon-spritex2URL;
$restart-black: 18px 18px $icon-spriteURL -151px -110px $icon-spritex2URL;
$skip-black: 18.010000228881836px 16.62168683318977px $icon-spriteURL -183px -110px $icon-spritex2URL;
$restart-white: 18px 18px $icon-spriteURL -81px -110px $icon-spritex2URL;
$skip-white: 18.010000228881836px 16.62168683318977px $icon-spriteURL -113px -110px $icon-spritex2URL;
$link-black: 16.000978760496714px 16.001104038009142px $icon-spriteURL -50.99924999999985px -150.99802100879566px $icon-spritex2URL;
$link-white: 16.000978760496714px 16.001104038009142px $icon-spriteURL -23.999249999999847px -150.99802100879566px $icon-spritex2URL;

@mixin cssSprite( $spriteVals ) {
	$spriteUrl1x: nth( $spriteVals, 3 );
	$spriteUrl2x: nth( $spriteVals, 6 );

	width: ceil(nth( $spriteVals, 1 ));
	height: ceil(nth( $spriteVals, 2 ));
	background-repeat: no-repeat;
	background-image: url( $spriteUrl1x );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: url( $spriteUrl2x );
		background-size: $bgiSizeW $bgiSizeH;
	}
}
