<div class="play-view app-view">
	<app:header
		on-share-event="play.onShareEvent( params )"
		show-share="true"
		show-menu="false"
		show-logo="false"
		share-opts="play.shareOpts"
	>
		<div class="play-view_header-controls">
			<span class="control pause" ng-click="play.triggerGamePause()">
				<span class="icon" title="Pause Game"></span>
			</span>
			<span class="control restart" ng-click="play.resetGame()">
				<span class="icon" title="Restart Game"></span>
			</span>
			<span class="control skip" ng-click="play.createNewGame()">
				<span class="icon" title="Create Game"></span>
			</span>
		</div>
	</app:header>

	<!-- <div recompiler="play.rebuildGame" animate="fadeIn"> -->
		<sc:game
			type="{{play.gameType}}"
			difficulty="{{play.difficulty}}"
			attempts="play.attempts"
			source-game="play.gameCopy"
			pause-game="play.pauseGame"
			modal-shown="play.modal"
			on-new-game="play.createNewGame(params)"
			on-reset-game="play.resetGame(params)"
			on-quit-game="play.leaveGame(params)">
		</sc:game>
	<!-- </div> -->
</div>
