@import "./assets/fonts/fonts";
@import "./assets/styles/sprites";
@import "./assets/styles/mixins";
@import "./assets/styles/generics";
@import "./assets/styles/colors";
@import "./assets/styles/animations";

html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after { box-sizing: inherit; }
*:focus {
    outline: none;
}

body {
	background-color: $color-background;
	font: normal normal 16px/1.2 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
	position: absolute;
	-webkit-transition: all 500ms $animationTiming;
	-moz-transition: all 500ms $animationTiming;
	-o-transition: all 500ms $animationTiming;
	transition: all 500ms $animationTiming;
}

[ui-view].ng-enter {
	opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1
}

[ui-view].ng-leave {
	opacity: 1;
}

[ui-view].ng-leave-active {
	opacity: 0;
}

.app-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app-view {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.logo {
	&.large {
		@include cssSprite( $logo-large );
		content: '';
		display: block;
	}
	&.medium {
		@include cssSprite( $logo-medium );
		content: '';
		display: block;
	}
	&.small {
		@include cssSprite( $logo-small );
		content: '';
		display: block;
	}
}

.logomark {
	color: white;
	font: normal 400 16px/1.5 'Lato', sans-serif;
	text-transform: uppercase;
	.light {
		font-weight: 300;
		&.faded {
			opacity: 0.8;
		}
	}
	&.small {
		font-size: 14px;
	}
}

.loading-view {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	background: $gradient-blue-2-blue-3;

	-webkit-animation: fadeInOut $animationTiming $animationSpeed infinite;
	animation: fadeInOut $animationTiming $animationSpeed infinite;

	&-content {
		@include vertical-align;
		text-align: center;
	}

	.logo {
		margin: 0 auto 20px;
	}
}

.refresher-notification {
	display: none;
}
