<div class="home-view">
	<div class="home-view-content">
		<div class="logo-container">
			<span class="logo large"></span>
			<span class="logomark"><span class="light">Shape</span>Connector</span>
		</div>

		<div class="btn-container">
			<a ng-click="home.onSelectGame('freeplay')" class="btn type-primary">Freeplay</a>
			<a ng-click="home.onSelectGame('timed')" class="btn type-secondary">Timed</a>
		</div>

		<div class="secondary-actions">
			<a class="action btn type-text" ui-sref="settings">Settings</a>
			<a class="action btn type-text" ui-sref="tutorial">Tutorial</a>
			<a class="action btn type-text" ui-sref="about">About</a>
		</div>
	</div>
</div>
