@import "../../assets/styles/sprites";
@import "../../assets/styles/mixins";
@import "../../assets/styles/animations";
@import "../../assets/styles/btn";
@import "../../assets/styles/colors";

.home-view {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;

	background: linear-gradient(214deg, $color-blue-2, $color-blue-3);
	background-size: 400% 400%;

	-webkit-animation: blueGradient $animationTiming 30s infinite;
	animation: blueGradient $animationTiming 30s infinite;

	&-content {
		display: block;
		margin: 10% auto;
		text-align: center;

		@media (min-height: 600px) {
			margin-top: 0;
			margin-bottom: 0;
			@include vertical-align;
		}
	}

	.logo-container {
		.logo {
			margin: 0 auto 20px;
		}
	}

	.btn-container {
		position: relative;
		margin: 60px 0;

		.btn {
			margin: 0 auto 20px;
		}
	}

	.secondary-actions {
		.action {
			@extend %clickable;

			display: inline-block;
			margin: 0 5px;
			padding: 0;
			width: auto;
		}
	}

	.slideshow {
		width: 230px;

		.slideshow-slides {
			height: 280px;
		}

		.slideshow-slide {
			width: 230px;

			.slideshow-slide-subheader {
				padding-top: 10px;
				font-style: italic;
			}

			.image {
				display: block;
				margin: 0px auto 0;
				width: 230px;
				height: 230px;

				background-repeat: no-repeat;
				background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

				box-shadow: 0px 4px 4px 0px rgba(black, 0.20);
				border-radius: 4px;

				&.gameplay {
					background-image: url($gameplay-gif-url);
				}

				&.share {
					background-image: url($share-img-url);
					background-position: top center;
				}

				&.win {
					background-image: url($win-img-url);
					background-position: top center;
				}
			}
		}
	}


	&.is-onboarding {
		.btn-container {
			.btn {
				background-color: rgba($color-blue-4, 1);
				&:hover {
					background-color: rgba($color-blue-4, 0.6)
				}
			}
		}

		@media (max-height: 599px) {
			.slideshow {
				margin-top: 30px;
				margin-bottom: 70px;
			}

			.btn-container {
				position: fixed;
				bottom: 0;
				left: 0;
				text-align: center;
				margin: 0 auto;
				width: 100%;

				.btn {
					margin-bottom: 0;
					width: 50%;
					box-shadow: 0px -1px 4px 0px rgba(black, 0.2);
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}
}
