<app:header></app:header>
<div class="settings-view app-view">
	<div class="settings-view-content">
		<div class="header">Settings</div>
		<div class="btn-container">
			<a ng-repeat="(key, level) in ::settings.levels"
			   ng-click="settings.setDifficulity( key )"
			   class="btn"
			   ng-class="{'selected': settings.selectedLevel.toUpperCase() === key}"
			   ng-if="level !== null">
			   {{level.label}}
			</a>
		</div>
		<sc:noise-toggles></sc:noise-toggles>
		<div class="btn-container" ng-if="settings.isProd === false">
			<a ng-click="settings.clearLocalStorage( key )" class="btn">
			   Clear LocalStorage
			</a>
		</div>
	</div>
</div>
