@import "../../assets/styles/mixins";

.settings-view {
	width: 100%;
	height: 100%;

	&-content {
		display: block;
		margin: 100px auto 50px;
		text-align: center;
		width: 240px;
		@media (min-height: 515px) {
			margin-top: 0;
			margin-bottom: 0;
			@include vertical-align;
		}
	}

	.header {
		color: white;
		font-size: 22px;
		margin-bottom: 50px;
	}

	.btn {
		width: 200px;
		margin: 0 auto 20px;
		padding: 17px 15px;

		background-color: rgba(white, 0.2);
		color: white;
		font-size: 14px;
		text-transform: uppercase;

		&:hover {
			background-color: rgba(white, 0.4);
		}

		&.selected {
			background-color: rgba(white, 1);
			color: black;
		}
	}

	.noise-toggles {
		margin-top: 40px;
	}
}
