$shape-size: 16px;
$shape-spacer: 7px;

.game {
	@extend %disable-selection;
	
	margin: 0 auto;
	position: relative;

	canvas {
		@extend %disable-selection;
	}

	&-header {
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 50px;
		.game-timer {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}
		.game-goal {
			display: block;
			position: relative;
			margin: 0 auto;
		}
	}


	&-board {
		position: relative;

		&-wrapper {
			position: relative;
			margin: 0 auto;
		}

		.canvas-game {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.canvas-lines {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.won {
		.canvas-game {
			z-index: 0;
		}
	}	
}
