@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";

.toggle {
	@include clearfix;

	cursor: pointer;
	display: block;
	height: 40px;
	width: 90px;
	padding: 10px;
	border-radius: 3px;
	background-color: #E9E9E9;
	color: black;

	&:after {
		content: "";
		display: block;
		float: right;

		width: 10px;
		height: 10px;
		margin-top: 6px;

		border-radius: 50%;
		background-color: #BBBBBB;
	}

	&.on:after {
		background-color: #5CC968;
	}

	&:hover {
		background-color: #FBF8F8;
	}
}

.noise-toggles {
	text-align: center;

	.toggle {
		display: inline-block;
		text-align: left;
		margin: 0 10px;
	}
}
