@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";
@import "../../assets/styles/generics";

.toggle {
	@include clearfix;

	cursor: pointer;
	display: block;
	height: 40px;
	width: 90px;
	padding: 10px;
	border-radius: $border-radius;
	background-color: white;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;

	&:after {
		content: "";
		display: block;
		float: right;

		width: 10px;
		height: 10px;
		margin-top: 6px;

		border-radius: 50%;
		background-color: transparent;
		border: 1px solid rgba(black, 0.2);
	}

	&.on:after {
		background-color: $color-teal-1;
		border: 0;
	}

	&:hover {
		background-color: rgba(white, 0.95);
	}
}

.noise-toggles {
	text-align: center;

	.toggle {
		display: inline-block;
		text-align: left;
		margin: 0 10px;
	}
}
