@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";
@import "../../assets/styles/generics.scss";
@import "../../assets/styles/animations";

.about-view {
	min-height: 100%;
	width: 100%;
	padding: 100px 40px 40px 40px;
	color: white;
	text-align: center;

	background: linear-gradient(214deg, $color-blue-2, $color-blue-3);
	background-size: 400% 400%;

	-webkit-animation: blueGradient $animationTiming 25s infinite;
	animation: blueGradient $animationTiming 25s infinite;

	&-content {
		display: block;
		width: 90%;
		max-width: 500px;
		margin: 0 auto;
	}

	.header {
		color: white;
		font-size: 22px;
		text-align: center;
		margin-bottom: 10px;
	}

	.sub-header {
		margin-top: 40px;
	}

	.info {
		color: rgba(white, 1);
		display: block;
		font-weight: 300;
		padding: 0;
		margin: 5px 0 0 0;
		font-size: 14px;
	}

	a.info {
		display: inline-block;
	}

	a {
		color: white;
		text-decoration: none;
		border-bottom: 1px dotted rgba(white, 1);

		&:hover {
			color: rgba(white, 0.9);
		}
	}
}
