@import "../../assets/styles/sprites";
@import "../../assets/styles/mixins";
@import "../../assets/styles/animations";
@import "../../assets/styles/btn";
@import "../../assets/styles/colors";

.tutorial-view {
	background-color: $color-background;

	.app-header {
		position: relative;
	}

	&.success {
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 1;

		@media (min-height: 350px) {
			overflow: hidden;
		}
	}

	.step {
		width: 80%;
		margin: 120px auto;
		text-align: center;

		&-header {
			display: block;
			color: white;
			font-size: 22px;
			line-height: 28px;
			padding-bottom: 10px;
		}

		&-header2 {
			display: block;
			color: rgba(white, 0.65);
			font-size: 16px;
			line-height: 20px;
		}

		&-skip {
			position: absolute;
			bottom: 50px;
			right: 50px;

			color: white;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				opacity: 0.9;
			}

			&:after {
				@include cssSprite( $arrow-right-white );
				content: '';
				display: block;
				float: right;
				margin-left: 10px;
    			margin-top: 4px;
			}
		}

		&.step3,
		&.step4 {
			.game {
				left: 0 !important;
				top: 30px !important;
				position: relative !important;
				margin: 0 auto;
			}
		}

		&.step3 {
			.game-header {
				padding-bottom: 10px;
				border-bottom: 1px solid rgba(white, 0.2);
			}
		}

		&.step4 {
			.game-header {
				margin-left: -50px;
			}
		}
	}

	.success {
		position: relative;
		width: 80%;
		z-index: 1;

		margin: 50px auto;
		text-align: center;

		@media (min-height: 350px) {
			margin-top: -50px;
			margin-bottom: 0;
			@include vertical-align;
		}

		&-button {
			padding: 15px 10px;
			width: 200px;
			margin: 20px auto;

			background-color: white;
			color: black;

			&:hover {
				background-color: rgba(white, 0.9);
			}
		}
	}

	&-confetti_canvas {
		position: fixed;
		top: 0;
		left: 0;
	}
}
