<app:header></app:header>
<div class="tutorial-view app-view">
	<div class="step step{{tutorial.stepNum}}" ng-if="tutorial.showSuccess == false">
		<span class="step-header">{{tutorial.step.header1}}</span>
		<span class="step-header2">{{tutorial.step.header2}}</span>
		<sc:tutorial step="{{tutorial.stepNum}}" end-nodes="tutorial.endNodes"></sc:tutorial>

		<a class="step-skip" ng-if="tutorial.stepNum === 1" ng-click="tutorial.skip()">
			Skip Tutorial
		</a>
	</div>
	<div class="success" ng-if="tutorial.showSuccess == true">
		<span class="step-header">{{tutorial.success.header1}}</span>
		<span class="step-header2">{{tutorial.success.header2}}</span>
		<span class="success-button btn type-primary" ui-sref="play({mode:tutorial.playMode})">{{tutorial.success.playBtnLabel}}</span>
	</div>
	<sc:canvas
	 	ng-if="tutorial.showSuccess == true"
		classes="tutorial-view-confetti_canvas"
		name="confetti"
		size="{{tutorial.canvasSize}}"
		canvas="tutorial.canvas">
	</sc:canvas>
</div>
