.tutorial-view {
	width: 100%;
	color: white;

	.step {
		width: 80%;
		margin: 120px auto;
		text-align: center;

		&-header {
			display: block;
			color: white;
			font-size: 22px;
			line-height: 28px;
			padding-bottom: 10px;
		}

		&-header2 {
			display: block;
			color: rgba(white, 0.65);
			font-size: 16px;
			line-height: 20px;
		}

		&.step3 {
			.game-header {
				padding-bottom: 10px;
				border-bottom: 1px solid rgba(white, 0.2);
			}
		}

		&.step4 {
			margin: 80px auto;

			.game-header {
				margin-left: -50px;
			}
		}
	}

	.success {
		width: 300px;
		margin: 200px auto;
		text-align: center;

		&-button {
			padding: 15px 10px;
			width: 200px;
			margin: 20px auto;

			background-color: white;
			color: black;

			&:hover {
				background-color: rgba(white, 0.9);
			}
		}
	}
}
